.label {
	color: #f00;
	font-size: 20px;
	background-color: #333;
	padding: 10px;
	border-radius: 5px;
}

.title {
	font-size: 100px;
}


.window {
	border: 10px solid #222;
}

.key {
	color: white;
	background-color: #333;
	padding: 20px;
	border-radius: 5px;
}

.letter {
	color: #333;
	font-size: 20px;
}

.word {
	color: #555;
	font-size: 16px;
}
